html{
    background-color: black;
    color:green;
    font-family: 'Courier New', Courier, monospace
}
.header{
    color: orange;
}

h2{
    color:orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }